.row {
    border: 1px solid black;
    border-radius: 2px;
    padding: 15px 30px;
    margin-bottom: 10px;
    margin-left: 20px;
    max-width: 300px;
    transition: all 150ms ease-in-out;
    font-size: 20px;
  }
  
  .table {
    position: relative;
    top: 0;
    left: 0;
    width: 50%;
  }
  .main-info {
    position: relative;
    top: -370px;
    right: -350px;
    width: 50%;
  }
  .change-city-form {
    display: block;
    text-align: center;
    margin: 0 auto;
  }
  .weekday {
    font-weight: bold;
  }
  
  .container {
    padding-top: 100px;
    padding-left: 50px;
    padding-bottom: 20px;
    max-height: fit-content;
    width: 50%;
    margin-top: 50px;
    margin-bottom: 30px;
  }
  
  .wrapper-1 {
    position: relative;
    top: -11px;
    left: 15px;
  }
  .wrapper-2 {
    position: relative;
    top: -76px;
    left: 115px;
  }
  .wrapper-3 {
    position: relative;
    top: -140px;
    left: 190px;
  }
  .coder {
    text-align: center;
    margin: 0 auto;
    position: relative;
    top: -100px;
  }
  
  body {
    font-family: "Raleway", sans-serif;
  }
  
  h1,
  h2,
  h3,
  p {
    text-align: center;
  }
  
  h1 {
    font-weight: bold;
  }
  
  h2 {
    font-weight: normal;
  }
  ul {
    list-style-type: none;
    margin: 30 auto;
    position: relative;
    top: -20px;
    right: -200px;
    display: grid;
  }
  
  .weekday,
  #current-date-time,
  h3 {
    color: #3c3d40;
  }
  
  #button {
    color: #033f59;
    transition: all 150ms ease-in-out;
  }
  #button-current {
    color: #3c3d40;
    transition: all 150ms ease-in-out;
    border: 1px solid #3c3d40;
    position: relative;
    top: -130px;
    left: 33%;
  }
  
  #button:hover {
    cursor: pointer;
  }
  #button-current:hover {
    background-color: rgb(214, 214, 214);
  }
  a {
    text-decoration: none;
    color: #3c3d40;
  }
  
  a:hover {
    cursor: pointer;
    text-decoration: underline;
  }
  
  .weather-app {
    padding-bottom: 10px;
    padding-right: 20px;
    margin-bottom: -440px;
    height: 520px;
    border: 2px solid rgb(96, 97, 100);
    border-radius: 3px;
    box-shadow: 9px 4px 4px rgb(96, 97, 100);
    background: linear-gradient(
      93.1deg,
      rgb(238, 254, 183) 19.1%,
      rgb(169, 254, 222) 53.9%,
      rgb(90, 222, 255) 92%
    );
  }
  
  .shadow {
    padding: 20px 20px;
    padding-bottom: 5px;
    margin: 10px 10px 1px 15px;
  }
  