.row {
    border: 1px solid black;
    border-radius: 2px;
    padding: 15px 30px;
    margin-bottom: 10px;
    margin-left: 12px;
    max-width: 350px;
    font-size: 17px;
  }
  .col-4 {padding-left: 2px;
          padding-right: 2px;}
  
  .table {
    position: relative;
    top: 0;
    left: 0;
    width: 50%;
  }
  .main-info {
    position: relative;
    top: -370px;
    right: -280px;
    width: 50%;
  }
  .change-city-form {
    display: block;
    text-align: center;
    margin: 0 auto;
  }
  .weekday {
    font-weight: bold;
  }
  
  .container {
    padding-top: 20px;
    padding-left: 50px;
    padding-bottom: 20px;
    max-height: fit-content;
    
    margin-top: 50px;
    margin-bottom: 30px;
  }
  
  
  .coder {
    text-align: center;
    position: relative;
    top: -30px
  
    
    
  }
  
  body {
    font-family: "Raleway", sans-serif;
  }
  
  h1,
  h2,
  h3,
  p {
    text-align: center;
  }
  
  
  h2 {
    font-weight: normal;
    font-size: 20px;
  }
  h3 {
    color: #3c3d40;
    font-size: 25px;
  }
  ul {list-style-type: none;
  margin-left: 55px;}

  #button {
    color: #3c3d40;
    transition: all 150ms ease-in-out;
    font-size: 13px;
  }
  #button-current {
    color: #3c3d40;
    transition: all 150ms ease-in-out;
    border: 1px solid #3c3d40;
    border-radius: 2px;
    position: relative;
    left: 80px;
    font-size: 13px;
  }
  
  #button:hover {
    cursor: pointer;
  }
  #button-current:hover {
    background-color: rgb(214, 214, 214);
  }
  a {
    text-decoration: none;
    color: #3c3d40;
    font-size: 11px;
    position: relative;
    top: 50px;
  }
  
  a:hover {
    cursor: pointer;
    text-decoration: underline;
  }
  
  .weather-app {
    max-width: 600px;
    padding-bottom: 10px;
    padding-right: 20px;
    margin: 0 auto;
    margin-top: 10px;
    margin-bottom: 10px;
    height: 520px;
    border: 2px solid rgb(96, 97, 100);
    border-radius: 3px;
    box-shadow: 9px 4px 4px rgb(96, 97, 100);
    background: linear-gradient(
      93.1deg,
      rgb(238, 254, 183) 19.1%,
      rgb(169, 254, 222) 53.9%,
      rgb(90, 222, 255) 92%
    );
  }
  
  .shadow {
    padding: 20px 20px;
    padding-bottom: 5px;
    margin: 10px 10px 1px 15px;
  }

  #search-input {font-size: 13px;
  }

  img {display: inline;
line-height: 1;
width: 80px;
position: relative;
left: 80px;
padding: 0 auto;
margin: 0 auto;

}
#temp {margin-right: 0;
  padding: 0;
  font-size: 25px;
  font-weight: 700;
position: relative;
left: 80px;}